<!DOCTYPE html>
<html>

<head>
	<title>Employees</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="employee.js"></script>
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-3">

				<div class="alert alert-success" th:if="${param.logout}">
					<span>Bye</span>
				</div>

				<div class="alert alert-danger" th:if="${param.error}">
					<span>Invalid user or password</span>
				</div>

				<div class="panel panel-primary" id="painelLoginPrimaio">
					<div class="panel-heading" id="painelLogin">Login</div>
					<div class="panel-body">
						<form th:action="@{/login}" method="post">
							<div class="form-group">
								<label for="user"><b id="texto">User</b></label> <input
									id="user" type="text" name="username" class="form-control" />
							</div>

							<div class="form-group">
								<label for="password"><b id="texto">Password</b></label> <input
									id="password" type="password" name="password"
									class="form-control" />
							</div>
							<div class="row">
								<button type="submit"
									class="btn col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1"
									id="btn-login">Entrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>